
.parent{
  border: 3px solid #ddd;
  display: flex;
  flex-direction:row;

}
.leftchild img{
  width:90%;
  display: block;
  margin-left: :auto;
  margin-right: auto;
}
.leftchild{
  border:2px solid #ddd;
  padding:1%;
  margin:1%;
  font-size: 20px;
  border-radius: 10%;
}
.rightchild{
  border: 2px solid #ddd;
 padding:1%;
 margin: 1%;
 font-size: 20px;
   border-radius: 10%;
}
@media only screen and (min-width:320px) and (max-width:480px){
  .parent{
    border: 3px solid #ddd;
    display: flex;
    flex-direction:column;

  }
  .leftchild img{
    border: 2px solid #ddd;
    padding:1%;
    width:90%;
    margin:1%;
    margin-left: :auto;
    margin-right: auto;
  }
  .leftchild{
    border:2px solid #ddd;
    padding:1%;
    margin:1%;
    font-size: 20px;
    border-radius: 10%;
  }
  .rightchild{
    border: 2px solid #ddd;
   padding:1%;
   margin: 1%;
   font-size: 20px;
     border-radius: 10%;
  }
}
